extends membersLayout

block membersStyles
	link(rel='stylesheet' type='text/css' href='/css/addMember.css')

block scripts
	script(src='/js/addMember.js')

block membersContent
	div#wrapper
		form.login-form(action='/addNewContact', method='post')
			div.header
				h1.signup Add New Member
				div#warning
			div.content
				table
					tr
						td
							label Mr.
						td :
						td
							input#mr.input(type='text' name='mr')
					tr
						td
							label Mrs./Miss
						td :
						td
							input#mrs.input(type='text' name='mrs')
					tr
						td
							label Last Name
						td :
						td
							input#last.input(type='text' name='last')
					tr
						td
							label Address
						td :
						td
							input#address.input(type='text' name='address')
					tr
						td
							label Phone Number
						td :
						td
							input#telephone.last(type='text' name='phone' placeholder='Format: (204) 123-4567')
			div.footer
				input.button(type='submit' name='submit' value='Sign Up')