extends membersLayout

block membersStyles
	link(rel='stylesheet' type='text/css' href='/css/table.css')
	link(rel='stylesheet' type='text/css' href='/css/members.css')

block scripts
	script(src='/js/members.js')

block membersContent
	center
		h1 Members of MIPS
		div.tableContainer
			table#myContacts
				thead
					tr
						th.last Last Name
						th.mr Mr.
						th.mrs Mrs. / Miss
						th.child Children
						th.add Address
						th.tel Phone Number

						if level < 3
							th.edit Edit
				tbody