extends ../layout

block styles
	link(rel='stylesheet' type='text/css' href='/css/members_layout.css')
	block membersStyles

block content
	if level < 3
		div.navbar-container
			div.navbar
				div.navbar-inner
					ul.nav
						li#li_Members
							a(href='/MembersOfMIPS') Members
						li.divider-vertical
						li#li_AddMember
							a(href='/MembersOfMIPS/AddMember') Add New Member

	div#membersContainer
		block membersContent