extends layout

block styles
	link(rel='stylesheet' type='text/css' href='/css/index.css')

block content
	div.officers
		h1.header Executive Officers:
		div.section 
			h1.title Chairman :
			div.people
				h1 Benny Malaso
		div.section
			h1.title Vice Chairman : 
			div.people
				h2 Aneglica Ilagan
		div.section
			h1.title Secretary :
			div.people
				h2 Marilou Gutierrez
				h2 Michelle Ilagan-Fresno
		div.section
			h1.title Treasurer :
			div.people
				h2 Rowena Tumambing
		div.section
			h1.title Auditor :
			div.people
				h2 Rosita Gutierrez
				h2 Nette Ilagan

	div.directors
		h1.header Board of Directors:
		div.section
			h1.title Burrows :
			div.people 
				h2 Arnold Tumambing
				h2 Rowena Castillio Tumambing
		div.section
			h1.title St. Vital :
			div.people 
				h2 Nette Ilagan
		div.section
			h1.title Pacific :
			div.people
				h2 Susan Cabaguio
				h2 Efren Cabaguio
		div.section
			h1.title McPhillips :
			div.people
				h2 Reggie Ilagan
				h2 Phenny Ilagan Magsumbol
				h2 Marlo Axalan
		div.section
			h1.title Bauan | Other Towns of Batangas :
			div.people
				h2 Nimfa Margueses