html
	head
		meta(name='author' content='Herald Gutierrez')
		meta(name='description' content='MIPS')
		meta(name='keywords' content='HTML, CSS, JavaScript, jQuery, NodeJS, Jade, ExpressJS')

		title Herald Gutierrez - MIPS Basketball Tournament
		
		link(rel='stylesheet' type='text/css' href='css/styles.css')
		script(src='js/jquery-2.0.3.min.js')

	body
		center
			h1 2014 MIPS Basketball Tournament
			h4 (This website will be updated to show game schedules, team standings, and team/player stats)

			h2 
				u Team Schedule
			table
				thead
					tr
						td Week
						td Date
						td Game
						td Time
						td Home
						td Score
						td Visitor
						td Score
						
				tbody
					tr
						td 1
						td Feb. 1
						td 1
						td 2 pm
						td White
						td 54
						td Green
						td 38
					tr
						td 
						td 
						td 2
						td 3 pm
						td Black
						td 34
						td Yellow
						td 33
					tr
						td 
						td 
						td 3
						td 4 pm
						td Blue
						td 47
						td Red
						td 35

					tr.odd
						td 2
						td Feb. 8
						td 1
						td 1 pm
						td Black
						td 
						td Red
						td 
					tr.odd
						td 
						td 
						td 2
						td 2 pm
						td Blue
						td 
						td White
						td 
					tr.odd
						td 
						td 
						td 3
						td 3 pm
						td Yellow
						td 
						td Green
						td 

					tr
						td 3
						td Feb. 15
						td 1
						td 1 pm
						td Green
						td 
						td Blue
						td 
					tr
						td 
						td 
						td 2
						td 2 pm
						td Yellow
						td 
						td Red
						td 
					tr
						td 
						td 
						td 3
						td 3 pm
						td Black
						td 
						td White
						td 

					tr.odd
						td 4
						td Feb 22
						td 1
						td 1 pm
						td White
						td 
						td Yellow
						td 
					tr.odd
						td 
						td 
						td 2
						td 2 pm
						td Black
						td 
						td Blue
						td 
					tr.odd
						td 
						td 
						td 3
						td 3 pm
						td Red
						td 
						td Green
						td 

					tr
						td 5
						td March 1
						td 1
						td 1 pm
						td Green
						td 
						td Black
						td 
					tr
						td 
						td 
						td 2
						td 2 pm
						td White
						td 
						td Red
						td 
					tr
						td 
						td 
						td 3
						td 3 pm
						td Yellow
						td 
						td Blue
						td 

					tr.odd
						td 6
						td March 8
						td 1
						td 1 pm
						td Red
						td 
						td Yellow
						td 
					tr.odd
						td 
						td 
						td 2
						td 2 pm
						td White
						td 
						td Black
						td 
					tr.odd
						td 
						td 
						td 3
						td 3 pm
						td Black
						td 
						td Green
						td 

					tr
						td 7
						td March 15
						td 1
						td 1 pm
						td Green
						td 
						td White
						td 
					tr
						td 
						td 
						td 2
						td 2 pm
						td Yellow
						td 
						td Black
						td 
					tr
						td 
						td 
						td 3
						td 3 pm
						td Red
						td 
						td Blue
						td 

					tr.odd
						td 8
						td March 22
						td 1
						td 1 pm
						td Blue
						td 
						td Black
						td 
					tr.odd
						td 
						td 
						td 2
						td 2 pm
						td Green
						td 
						td Red
						td 
					tr.odd
						td 
						td 
						td 3
						td 3 pm
						td Yellow
						td 
						td White
						td 

					tr
						td 9
						td March 29
						td 1
						td 1 pm
						td Yellow
						td 
						td Green
						td 
					tr
						td 
						td 
						td 2
						td 2 pm
						td Red
						td 
						td Black
						td 
					tr
						td 
						td 
						td 3
						td 3 pm
						td Blue
						td 
						td White
						td 

					tr.odd
						td 10
						td April 5
						td 1
						td 1 pm
						td White
						td 
						td Red
						td 
					tr.odd
						td 
						td 
						td 2
						td 2 pm
						td Yellow
						td 
						td Blue
						td 
					tr.odd
						td 
						td 
						td 3
						td 3 pm
						td Black
						td 
						td Green
						td 

					tr
						td &nbsp;
					tr
						td &nbsp;
					tr.header
						td(colspan='8') 
							u Playoffs
					tr.header
						td Week
						td Date
						td Game
						td Time
						td Home
						td Score
						td Visitor
						td Score

					tr.semi
						td(colspan='8') Quarter-Finals
					tr
						td 11
						td April 12
						td 
						td 
						td(colspan='4') Team Standing 1 and 2 has a bye
					tr
						td 
						td 
						td 1
						td 1 pm
						td(colspan='4') Team Standing 3 vs 6 (Winner Advance)
					tr
						td 
						td 
						td 2
						td 2:30 pm
						td(colspan='4') Team Standing 4 vs 5 (Winner Advance)
					

					tr.odd
						td &nbsp;
						td 
						td 
						td 
						td 
						td 
						td 
						td 
					tr.odd
						td 
						td 
						td 
						td April 19
						td NO GAMES!
						td 
						td 
						td 
					tr.odd
						td &nbsp;
						td 
						td 
						td 
						td 
						td 
						td 
						td 

					tr.semi
						td(colspan='8') Semi-Finals
					tr
						td 12
						td April 26
						td 1
						td 1 pm
						td(colspan='4') Winner from game 2 vs 2
					tr
						td 
						td 
						td 2
						td 2:30 pm
						td(colspan='4') Winner from game 1 vs 1

					tr.odd.semi
						td(colspan='8') Championship
					tr.odd
						td 13
						td May 3
						td 
						td 1 pm
						td(colspan='4') Week 12 Winners
					tr.odd
						td(colspan='8') Award Ceremony
