extends layout

block styles
	link(rel='stylesheet' type='text/css' href='css/login.css')

block content
	div#wrapper
		form.login-form(action='/signupUser', method='post')
			div.header
				h1.signup Sign Up
			div.content
				input.input.username(type='text' name='username' placeholder='Username')
				input.input.password(type='password' name='password' placeholder='Password')
				input.input.password(type='password' name='verifyPassword' placeholder='Verify Password')

			div.footer
				input.button(type='submit' name='submit' value='Sign Up')