/*******************
BODY STYLING
*******************/
#wrapper {
	width: 600px;
}

#warning {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
}

#warning.success {
	width: 255px;
	background-color: #dff0d8;
}

#warning.warning {
	width: 345px;
	background-color: #dff0d8;
}

/*******************
LOGIN FORM
*******************/

/*******************
HEADER
*******************/
.login-form .header h1 {
	width: 225px;
}

/*******************
CONTENT
*******************/

.login-form .content {
	width: 430px;
	margin: 0 auto;
}

/* Input field */
.login-form .content input {
	width: 300px;
	padding: 10px 25px;
	margin-top: 5px;
}

.login-form .content .last {
	margin-bottom: 20px;
}

table {
	width: 100%;
}


/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 249px 40px 249px;
}

