.main-container {
	margin: 0 auto;
	padding-top: 20px;
}

h1.header {
	margin: 0 auto;
	width: 300px;
	text-decoration: underline;
	font-weight: bold;
}

.section {
	width: 97%;
}

.section .people {
	display: inline-block;
	margin: 5px;
	width: 45%;
}

.section .title {
	margin: 5px;
	vertical-align: top;
	display: inline-block;
	text-align: right;
	width: 45%;
}

.officers .section h2 {
	padding-top: 13px;
	padding-left: 10px;
	line-height: 15px;
}

.directors {
	margin-top: 20px;
}

.directors .title, .directors .people h2 {
	font-size: 20px;
}