table tr:nth-child(odd) { background-color: transparent; }
table tr:nth-child(even) { background-color: transparent; }
.odd { background-color: #CCC !important; }

#schedule tr:nth-child(3n+1) { background-color: #CCC; }
#schedule tr:nth-child(3n+2) { background-color: #CCC; }
#schedule tr:nth-child(3n+3) { background-color: #CCC; }
#schedule tr:nth-child(6n+1) { background-color: transparent; }
#schedule tr:nth-child(6n+2) { background-color: transparent; }
#schedule tr:nth-child(6n+3) { background-color: transparent; }

.winner { 
	font-weight: bold;
	background-color: #54FF90;
}

#divNarrow select {
	height: 40px;
	font-size: 12px;
}

@media screen and (min-width: 600px) {
	table tr th:nth-child(1) { width: 7%; }
	table tr th:nth-child(2) { width: 20%; }
	table tr th:nth-child(3) { width: 7%; }
	table tr th:nth-child(4) { width: 7%; }
	table tr th:nth-child(5) { width: 15%; }
	table tr th:nth-child(6) { width: 7%; }
	table tr th:nth-child(7) { width: 15%; }
	table tr th:nth-child(8) { width: 7%; }

	#divNarrow {
		float: right;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px) {
	#divNarrow {
		margin: 10px;
	}

	table tr th:nth-child(1) { width: 7%; }
	table tr th:nth-child(2) { width: 20%; }
	table tr th:nth-child(3), table tr td:nth-child(3) { display: none; }
	table tr th:nth-child(4) { width: 7%; }
	table tr th:nth-child(5) { width: 15%; }
	table tr th:nth-child(6) { width: 7%; }
	table tr th:nth-child(7) { width: 15%; }
	table tr th:nth-child(8) { width: 7%; }
}