* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	background: #d1d1d1;
	margin: auto;
	height: 500px;
}

.header {
	margin: auto;
} 

.header .logo-container .logo img {
	width: 100%;
}

/*******************************************************
	NAVIGATION
*******************************************************/
.main-container {
	background-color: white;
	border-top: 2px solid;
	border-color: rgba(213, 213, 213, 1);
	min-height: 550px;
}

.tabs ul li a {
	background: -webkit-linear-gradient(bottom, #ededed 0%, #ddd 100%); /* Chrome and Safari */
	background: -moz-linear-gradient(top, #ededed 0%, #ddd 100%); 		/* FF3.6+ */
	background: -ms-linear-gradient(top, #ededed 0%, #ddd 100%); 		/* IE10+ */

	height: 40px;
	position: relative;
	display: inline-block;
	color: #666;
	text-align: center;
	border-radius: 6px 6px 0 0;
	box-shadow: 2px 0 1px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	text-decoration: none;
}

.tabs a:after {
	content: '';
	background: #d1d1d1;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs a:hover, .tab-active {
	background: #ccc;
}

@media screen and (min-width: 601) {
	body {
		width: 990px;
	}

	.menu-trigger {
		display: none;
		border: 0;
	}

	.tabs {
		top: 181px;
		position: absolute;
	}

	.tabs > ul > li {
		float: left;
		height: 20px;
	}

	.tabs ul li a {
		font: 16px/40px sans-serif;
		position: relative;
		padding: 0 30px;
		margin: 0 2px 0 0;
		border-radius: 6px 6px 0 0;
		box-shadow: 2px 0 1px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	}
}


/* Media Queries */
@media screen and (max-width: 600px) {
	body {
		width: 600px;
	}

	.tabs a {
		height: 40px;
		font: 16px/35px sans-serif;
		display: inline-block;
		color: #666;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}
}
