* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	background: #d1d1d1;
	margin: auto;
	width: 990px;
	height: 500px;
}

/*******************************************************
	NAVIGATION
*******************************************************/

.header {
	margin: auto;
} 

.main-container {
	background-color: white;
	border-top: 2px solid;
	border-color: rgba(213, 213, 213, 1);
	min-height: 550px;
}

.tabs {
	/*top: -40px;*/
	/*position: relative;*/
	top: 181px;
	position: absolute;
}

.tabs a {
	background: -webkit-linear-gradient(bottom, #ededed 0%,#ddd 100%);
	height: 40px;
	font: 16px/40px sans-serif;
	position: relative;
	padding: 0 30px;
	/*float: left;*/
	display: inline-block;
	margin: 0 2px 0 0;
	color: #666;
	text-align: center;
	border-radius: 6px 6px 0 0;
	box-shadow: 2px 0 1px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	text-decoration: none;
}


.tabs a:after {
	content: '';
	background: #d1d1d1;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}


.tabs a:hover, .tab-active {
	background: #ccc;
}

/* Dropdown list */
select[name*="menu"] {
	background: #eee;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
	padding: 10px 15px;
	font: 13px/20px sans-serif;
	color: #888;
	position: relative;
	-webkit-appearance: none;
	-webkit-transition: .15s;
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
	box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.25),
	            inset 0 -1px 1px 1px hsla(0,0%,0%,.1),
	            0 1px 3px 1px hsla(0,0%,0%,.1),
	            0 0 2px hsla(0,0%,0%,.1);
}

select[name*="menu"]:focus {
	background: #fff;
	outline: 0 none;
}​

