.tableContainer { margin: 15px; }

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

table tr:first-child th {
	background:-o-linear-gradient(bottom, #3f7f00 5%, #00bf00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3f7f00), color-stop(1, #00bf00) );
	background:-moz-linear-gradient( center top, #3f7f00 5%, #00bf00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f7f00", endColorstr="#00bf00");	background: -o-linear-gradient(top,#3f7f00,00bf00);

	background-color:#3f7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	padding: 10px;
}

table tr:nth-child(even) { background-color:#cccccc; }
table tr:nth-child(odd) { background-color:#ffffff; }
table tr:hover td { background-color: #999; }

/* First row: top left corner */
table tr:first-child th:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

/* First row: top right corner */
table tr:first-child th:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}

/* Last row: bottom left corner */
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}

/* Last row: bottom left corner */
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}

table tr td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 5px;
}

table tr:last-child td{ border-width:0px 1px 0px 0px; }
table tr td:last-child { border-width:0px 0px 1px 0px; }
table tr:last-child td:last-child { border-width:0px 0px 0px 0px; }
table tr:first-child th:first-child{ border-width:0px 0px 1px 0px; }
