extends layoutBasketball

block basketballStyles
	link(rel='stylesheet' type='text/css' href='/css/table.css')
	link(rel='stylesheet' type='text/css' href='/css/allPlayerStats.css')


block basketballScripts
	script(src='/js/jquery.tablesorter.min.js')
	script(src='/js/allPlayerStats.js')


block basketballContent
	div.tableContainer
		center
			h1 All Players
			span Click table headers to sort by field.
			br
			span *Note: Stats assumes you've played in all games.
			div#divSearch
				span Search : 
				input#inputSearch(type='text' placeholder=' Enter Name ')

			table#players(data-player='#{player}')
				thead
					tr
						th Player
						th Team
						th Number
						th Average Points
						th Total Points
						th Average Fouls
						th Total Fouls
						th Average Starts
						th Total Starts

						if level == 1
							th Edit
							
				tbody
					tr#empty.empty
						td(colspan='9') No Players Found.
		br