extends layoutBasketball

block basketballStyles
	link(rel='stylesheet' type='text/css' href='/css/table.css')
	link(rel='stylesheet' type='text/css' href='/css/schedule.css')

block basketballScripts
	script(src='/js/schedule.js')

block basketballContent
	div.tableContainer
		center
			h1 2014 MIPS Basketball

			h2 
				u Playoffs
			table
				thead
					tr
						th Week
						th Date
						th Game
						th Time
						th Home
						th Score
						th Visitor
						th Score
				tbody
					tr.semi
						td(colspan='8') Quarter-Finals
					tr
						td 11
						td April 12
						td 
						td 
						td(colspan='4') Blue and Red has a bye
					tr
						td 
						td 
						td 1
						td 1 pm
						td White
						td 44
						td.winner Green
						td.winner 53
					tr
						td 
						td 
						td 2
						td 2:30 pm
						td.winner Black
						td.winner 41
						td Yellow
						td 29
					
					tr.odd
						td(colspan='8' height='87px') April 19 - NO GAMES!

					tr.semi
						td(colspan='8') Semi-Finals
					tr
						td 12
						td April 26
						td 1
						td 1 pm
						td.winner Red
						td.winner
						td Green
						td 
					tr
						td 
						td 
						td 2
						td 2:30 pm
						td Blue
						td 
						td.winner Black
						td.winner

					tr.odd.semi
						td(colspan='8') Championship
					tr.odd
						td 13
						td May 3
						td 
						td 1 pm
						td Red
						td 
						td Black
						td 
					tr.odd
						td
						td
						td 
						td 2:30 pm
						td(colspan='4') Award Ceremony

			br
			br
			h2 
				u Regular Season

			div#divNarrow
				span Narrow Schedule by Team : 
				select#narrowSchedule

			table#schedule
				thead
					tr
						th Week
						th Date
						th Game
						th Time
						th Home
						th Score
						th Visitor
						th Score
						
				tbody
			
		br