extends layoutBasketball

block basketballStyles
	link(rel='stylesheet' type='text/css' href='/css/table.css')
	link(rel='stylesheet' type='text/css' href='/css/schedule.css')

block basketballScripts
	script(src='/js/schedule.js')

block basketballContent
	div.tableContainer
		center
			h1 2014 MIPS Basketball

			h2 
				u Regular Season

			div#divNarrow
				span Narrow Schedule by Team : 
				select#narrowSchedule
					option(value='All') Show All Teams
					option(value='Black') Black
					option(value='Blue') Blue
					option(value='Green') Green
					option(value='Red') Red
					option(value='White') White
					option(value='Yellow') Yellow

			table#schedule
				thead
					tr
						th Week
						th Date
						th Game
						th Time
						th Home
						th Score
						th Visitor
						th Score
						
				tbody


			br
			br
			h2 
				u Playoffs
			table
				thead
					tr
						th Week
						th Date
						th Game
						th Time
						th Home
						th Score
						th Visitor
						th Score
				tbody
					tr.semi
						td(colspan='8') Quarter-Finals
					tr
						td 11
						td April 12
						td 
						td 
						td(colspan='4') Team Standing 1 and 2 has a bye
					tr
						td 
						td 
						td 1
						td 1 pm
						td(colspan='4') Team Standing 3 vs 6 (Winner Advance)
					tr
						td 
						td 
						td 2
						td 2:30 pm
						td(colspan='4') Team Standing 4 vs 5 (Winner Advance)
					
					tr.odd
						td(colspan='8' height='87px') April 19 - NO GAMES!

					tr.semi
						td(colspan='8') Semi-Finals
					tr
						td 12
						td April 26
						td 1
						td 1 pm
						td(colspan='4') Winner from game 2 vs 2
					tr
						td 
						td 
						td 2
						td 2:30 pm
						td(colspan='4') Winner from game 1 vs 1

					tr.odd.semi
						td(colspan='8') Championship
					tr.odd
						td 13
						td May 3
						td 
						td 1 pm
						td(colspan='4') Week 12 Winners
					tr.odd
						td
						td
						td 
						td 2:30 pm
						td(colspan='4') Award Ceremony
		br