extends layoutAddress

block addressStyles
	link(rel='stylesheet' type='text/css' href='/css/addMember.css')

block scripts
	script(src='/js/addMember.js')

block addressContent
	center
		h1 Members of MIPS
		table(border='2')
			thead
				tr
					th Last Name
					th Mr.
					th Mrs./Miss
					th Address
					th Telephone Number
			tbody#members_body
				tr
					td Last Name
					td Mr.
					td Mrs
					td Address
					td Telephone Number