extends layoutAddress

block addressStyles
	link(rel='stylesheet' type='text/css' href='/css/addressbook.css')

block scripts
	script(src='/js/addressbook.js')

block addressContent
	center
		h1 Members of MIPS
		div.tableContainer
			table#myContacts
				thead
					tr
						th.last Last Name
						th.mr Mr.
						th.mrs Mrs
						th.add Address
						th.tel Phone Number
				tbody